[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
python-dotenv = "*"
minio = "*"
pillow = "*"
redis = "*"
celery = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.10"
